[main]
LOL_API_KEY=RGAPI-aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
START_STREAMING_SHORTCUT=CTRL+S
STOP_STREAMING_SHORTCUT=CTRL+T
SUMMONERS=[
          "summoner1",
          "summoner2",
          "summoner3",
          "summoner4",
  ]
